@charset "utf-8";

/************************************************************

	Fix for wide menu

*************************************************************/
@media only screen and (max-width : 1240px) {

	/* Header
	*************************************/
	.header-container {
		background: rgba(248,80,50,1);
		background: -moz-linear-gradient(to bottom, #ffffff, #ffffff 50%, #468195 50%, #468195);
		background: -webkit-gradient(to bottom, #ffffff, #ffffff 50%, #468195 50%, #468195);
		background: -webkit-linear-gradient(to bottom, #ffffff, #ffffff 50%, #468195 50%, #468195);
		background: -o-linear-gradient(to bottom, #ffffff, #ffffff 50%, #468195 50%, #468195);
		background: -ms-linear-gradient(to bottom, #ffffff, #ffffff 50%, #468195 50%, #468195);
		background: linear-gradient(to bottom, #ffffff, #ffffff 50%, #468195 50%, #468195);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#468195', GradientType=1 );
	}
	header .logo {
	    display: block;
	    padding: 1.1rem;
	    text-align: center;
	}
	.main-nav {
	    display: block;
	    text-align: center;
	}
	.main-nav > ul > li > a {
	    font-size: 0.8rem;
	    padding: 1.1rem .4rem 1.1rem 1.1rem;
	}
	.main-nav > ul > li > a:before {
	    left: .5rem;
	}
	.sub-menu {
	    /*display: block;*/
	}
	.sub-menu li {
	    display: inline-block;
    	height: auto;
	}

	header .langs {
	    display: block;
	    float: none;
	    position: absolute;
	    right: 3.5rem;
	    top: 0;
	}
	header .langs a {
	    color: #468195;
	}
	header .langs a:hover {
	    color: #888;
	}
	header .langs a:hover:after {
	    display: none;
	}

}


/************************************************************

	Fix for menu on middle screens

*************************************************************/
@media only screen and (max-width : 992px) {

	/* Header
	*************************************/
	.header-container {
		background: #fff;
		background: -moz-linear-gradient(to bottom, #ffffff, #ffffff 50%, #ffffff 50%, #ffffff);
		background: -webkit-gradient(to bottom, #ffffff, #ffffff 50%, #ffffff 50%, #ffffff);
		background: -webkit-linear-gradient(to bottom, #ffffff, #ffffff 50%, #ffffff 50%, #ffffff);
		background: -o-linear-gradient(to bottom, #ffffff, #ffffff 50%, #ffffff 50%, #ffffff);
		background: -ms-linear-gradient(to bottom, #ffffff, #ffffff 50%, #ffffff 50%, #ffffff);
		background: linear-gradient(to bottom, #ffffff, #ffffff 50%, #ffffff 50%, #ffffff);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	}
	.header-container > .container {
		width: 100% !important;
		padding: 0 !important;
	}
	header .logo {
	    padding: 2rem;
	}
	.main-nav {
	    display: block;
	    text-align: center;
		padding: 1.5rem 2rem;
	}
	.main-nav > ul > li > a {
	    font-size: 0.8rem;
	    padding: 1.1rem .4rem 1.1rem 1.1rem;
	}
	.main-nav > ul > li > a:before {
	    left: .5rem;
	}
	.sub-menu {
	    display: block;
	}
	.sub-menu li {
	    display: inline-block;
    	height: auto;
	}

	header .langs {
	    top: 1rem;
	}

}


/************************************************************

						IPad Landscape

*************************************************************/
@media only screen and (max-width : 1024px) and (min-width : 768px) {

}


/************************************************************

						IPad Landscape

*************************************************************/
@media only screen and (max-width : 1024px) {


}


/************************************************************

					Small Devices, Tablets

*************************************************************/
@media only screen and (max-width : 768px) {

	/* Slider content
	*************************************/
	.home.swiper-container .swiper-slide {
	    background-position: 70% 50%;
	}
	.home.swiper-container .swiper-slide .slide-astronaut {
	    max-width: 80%;
	    right: 2rem;
	}


	/* Header
	*************************************/
	header .logo {
	    display: inline-block;
	    text-align: left;
	}

	nav.main-nav {
		display: none;
		overflow: hidden;
		padding: 1.5rem 2rem;
    	text-align: left;
	}
	.main-nav > ul {
	    width: 100%;
	}
	.main-nav > ul > li {
	    display: block;
	    width: 100%;
	}
	.main-nav > ul > li > a {
	    padding: .8rem .8rem .8rem 1.5rem;
	}
	.main-nav > ul > li > a:after {
	    display: none;
	}
	/* Submenu */
	.main-nav .menu-item-has-children > .sub-menu {
		display: none;
		margin-left: 1rem;
	}
	.main-nav .sub-menu a img,
	.sub-menus-container .sub-menu a img {
	    display: none;
	}
	.main-nav .sub-menu li,
	.sub-menus-container .sub-menu li {
	    display: block;
	    text-align: left;
	}
	.main-nav .sub-menu li:not(:last-child) a:after,
	.sub-menus-container .sub-menu li:not(:last-child) a:after {
		display: none;
	}
	.main-nav .sub-menu a,
	.sub-menus-container .sub-menu a {
	    padding: .5rem;
	}

	.responsive-nav-toggle {
		display: block;
	}


	/* Slider content
	*************************************/
	.home.swiper-container .swiper-slide.right-content .content {
	    max-width: 60%;
	}
	.home.swiper-container .swiper-slide.left-content .content {
	    max-width: 60%;
	}


	/* Section itle
	*************************************/
	.home-sector-boxex {
	    padding: 0 3rem 2rem;
	}
	.home-sector-boxex a {
    	text-align: center;
	    left: 50%;
	    margin-right: -50%;
	    transform: translateX(-50%);
	    bottom: 1.5rem;
	}


	/* Projects slider
	*************************************/
	.projects-swiper-buttons-container {
	    top: 3.5rem;
	}
	.projects-swiper-buttons-container {
	    right: -1.8rem;
	    left: -1.8rem;
	}


	/* Latest news
	*************************************/
	.latest-news > .content,
	.side-block > .content {
	    padding: 1rem;
	}
	.news-swiper-buttons-container {
		display: none;
	}
	.swiper-slide.news-item {
	    margin-right: 10px !important;
	    padding: 0;
	}
	.swiper-slide.news-item:hover {
	    background: rgba(0,0,0,0);
	}


	/* Common elements
	*************************************/
	.btn {
	    font-size: .8rem;
	    padding: .4rem .7rem;
	    margin-bottom: 1rem;
	}
	.section-title2 {
	    white-space: nowrap;
    	font-size: .875rem;
	}
	.section-padding {
	    padding: 4rem 1rem;
	}


	/* Socials
	*************************************/
	.socials {
		position: relative;
		top: auto;
		right: auto;
		margin-top: 1.8rem;
	}


	/* Inner page
	*************************************/
	.page-header-img.left-bg {
	    background-position: left center !important;
	}
	.page-header-img {
	    background-position: center center;
	}
	.container {
	    padding: 1rem 1rem 0 1rem;
	}
	.page-sidebar ul li > a {
	    padding: .5rem 1rem;
	}
	.page-sidebar .menu-item-has-children .submenu-trigger {
	    top: .75rem;
	}


	/* Product single
	*************************************/
	.product-single-head > div:nth-child(odd) {
	    padding: 15px;
	}
	.product-single-head > div:nth-child(even) {
	    padding: 0 15px 15px 15px;
	}

}


/************************************************************

				Extra Small Devices, Phones

*************************************************************/
@media only screen and (max-width : 480px) {


	/* Header
	*************************************/
	nav.main-nav {
		display: none;
		overflow: hidden;
		padding: 1rem 1.5rem;
    	text-align: left;
	}
	.main-nav > ul > li > a {
	    padding: .5rem .5rem .5rem 1.2rem;
	}
	.sub-menu a {
	    padding: .2rem;
	}

	/* Slider content
	*************************************/
	.home.swiper-container .swiper-slide {
		text-align: left !important;
	}
	.home.swiper-container .swiper-slide.right-content .content {
	    max-width: 80%;
	    right: auto;
	    left: 50%;
	    transform: translateX(-50%);
	    margin-right: -50%;
	}
	.home.swiper-container .swiper-slide.left-content .content {
	    max-width: 80%;
	    right: auto;
	    left: 50%;
	    transform: translateX(-50%);
	    margin-right: -50%;
	}
	.home.swiper-container .swiper-slide .slide-astronaut {
	    max-width: 60%;
	    right: 2rem;
	}


	/* Common elements
	*************************************/
	.section-title2 {
	    white-space: normal;
	}
	.section-padding {
	    margin: 0 1rem;
	}


	/* Latest news
	*************************************/
	.latest-news > .content,
	.side-block > .content {
	    height: auto;
	}


	/* Projects slider
	*************************************/
	.projects-swiper-buttons-container {
	    right: -1.3rem;
	    left: -1.3rem;
	}
	.swiper-button-next:before,
	.swiper-container-rtl .swiper-button-prev:before,
	.swiper-button-prev:before,
	.swiper-container-rtl .swiper-button-next:before {
	    font-size: 2rem;
	}


	/* Inner page
	*************************************/
	.page-header-title {
	    right: 2rem;
	    bottom: auto;
	    top: 1.2rem;
	    padding: .5rem .5rem .1rem;
	}
	.breadcrumbs {
	    padding: .45rem 1rem .65rem;
	}
	.body-content img.limited-width {
	    max-width: 50%;
		margin: 0 1rem 1rem 0;
	}
	.body-content [class^="col-"] > h4 {
	    margin: 1rem 0 1rem;
	}

	/* Timeline */
	.body-content .timeline img.limited-width {
	    max-width: 100%;
		margin: 0 0 1rem 0;
	}
	/* Arrows */
	.timeline-buttons-container {
	    display: none;
	}


	/* Videos items
	*************************************/
	.videos-items > div:nth-child(-n+2) .video-item {
		margin-top: 1rem;
	}


	/* Blog items
	*************************************/
	.gallery-items .blog-item {
		margin-top: 1.5rem !important ;
	}


	/* Products items
	*************************************/
	.products-items [class^="col-"]:not(:first-child) .product-item {
		margin-top: 1.5rem !important ;
	}
	.products-items [class^="col-"]:first-child .product-item {
		margin-top: .6rem ;
	}


	/* Icons items
	*************************************/
	.icons-items .icons {
	    padding: 1rem 1rem 0;
	}

}


/************************************************************

					Custom, iPhone Retina

*************************************************************/
@media only screen and (max-width : 375px) {

}



/************************************************************

Fix for IPad Pro

*************************************************************/
@media only screen and (min-height : 1366px) {
}

@media only screen and (min-height : 1024px) and (max-height : 1079px) {
}

/* Fix for iphone landscape */
@media (max-width: 675px) {
}



/************************************************************

Fix for Full HD screens

*************************************************************/
@media only screen and (min-width : 1920px) {
}
