header {
  background-image: url(../images/desktop/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    header {
      background-image: url(../images/desktop/banner-h.jpg);
      background-position: bottom; } }
  @media screen and (max-width: 767.98px) {
    header {
      background-image: url(../images/mobile/banner.jpg); } }
  header .top-header {
    padding: 1em 0em; }
    header .top-header .container-fluid {
      max-width: 1580px; }
    header .top-header .logo {
      float: left; }
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        header .top-header .logo {
          position: absolute; } }
      @media screen and (min-width: 768px) and (max-width: 991.98px) {
        header .top-header .logo {
          float: none;
          margin-bottom: 1em; } }
      @media screen and (max-width: 767.98px) {
        header .top-header .logo {
          float: none;
          width: 100%; } }
      header .top-header .logo a {
        color: #303030;
        display: block;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 2.5em; }
        @media screen and (max-width: 991.98px) {
          header .top-header .logo a {
            text-align: center; } }
        header .top-header .logo a:hover {
          text-decoration: none; }
        @media screen and (max-width: 991.98px) {
          header .top-header .logo a img {
            margin: 0 auto; } }
        @media screen and (max-width: 767.98px) {
          header .top-header .logo a img {
            width: 3em; } }
        @media screen and (max-width: 374.98px) {
          header .top-header .logo a img {
            width: 38%; } }
    header .top-header .top-nav-config-mobile {
      height: auto;
      border-bottom: 0;
      float: none;
      position: relative; }
      header .top-header .top-nav-config-mobile:before {
        content: " ";
        display: table; }
      header .top-header .top-nav-config-mobile ul {
        color: #000;
        text-align: center;
        position: absolute;
        top: -3em;
        right: 1em;
        width: auto; }
        @media screen and (max-width: 767.98px) {
          header .top-header .top-nav-config-mobile ul {
            top: -2.4em;
            right: 0; } }
        header .top-header .top-nav-config-mobile ul li {
          display: inline;
          float: left;
          padding-left: 2em;
          position: relative; }
          @media screen and (max-width: 767.98px) {
            header .top-header .top-nav-config-mobile ul li {
              padding-left: 1em; } }
          header .top-header .top-nav-config-mobile ul li a {
            color: #000;
            font-weight: 700; }
    header .top-header .top-nav-config {
      margin-left: 2em; }
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        header .top-header .top-nav-config {
          position: absolute;
          top: 4em;
          right: 4em; } }
      header .top-header .top-nav-config .nav-list {
        list-style: none;
        padding-left: 0; }
        header .top-header .top-nav-config .nav-list .nav-item {
          float: left;
          padding: .2em 1em; }
          header .top-header .top-nav-config .nav-list .nav-item:nth-child(2) {
            background-color: #282828;
            border-radius: 50px;
            padding: 0.2em 1em; }
            header .top-header .top-nav-config .nav-list .nav-item:nth-child(2) a {
              color: #FFF; }
          header .top-header .top-nav-config .nav-list .nav-item a {
            color: #000;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase; }
          header .top-header .top-nav-config .nav-list .nav-item.has-dropdown {
            position: relative; }
            header .top-header .top-nav-config .nav-list .nav-item.has-dropdown:focus .dropdown, header .top-header .top-nav-config .nav-list .nav-item.has-dropdown:hover .dropdown {
              display: block; }
            header .top-header .top-nav-config .nav-list .nav-item.has-dropdown .dropdown {
              position: absolute;
              top: 1.6em;
              display: none;
              min-width: auto;
              background-color: rgba(204, 204, 204, 0.5); }
    @media screen and (min-width: 1200px) {
      header .top-header .container {
        max-width: 1220px; } }
    header .top-header .container .top-nav-config {
      margin-left: 2em; }
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        header .top-header .container .top-nav-config {
          position: absolute;
          top: 4em;
          right: 4em; } }
      header .top-header .container .top-nav-config .nav-list {
        list-style: none;
        padding-left: 0; }
        header .top-header .container .top-nav-config .nav-list .nav-item {
          float: left;
          padding: .2em 1em; }
          header .top-header .container .top-nav-config .nav-list .nav-item:nth-child(2) {
            background-color: #282828;
            border-radius: 50px;
            padding: 0.2em 1em; }
            header .top-header .container .top-nav-config .nav-list .nav-item:nth-child(2) a {
              color: #FFF; }
          header .top-header .container .top-nav-config .nav-list .nav-item a {
            color: #000;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase; }
          header .top-header .container .top-nav-config .nav-list .nav-item.has-dropdown {
            position: relative; }
            header .top-header .container .top-nav-config .nav-list .nav-item.has-dropdown:focus .dropdown, header .top-header .container .top-nav-config .nav-list .nav-item.has-dropdown:hover .dropdown {
              display: block; }
            header .top-header .container .top-nav-config .nav-list .nav-item.has-dropdown .dropdown {
              position: absolute;
              top: 1.6em;
              display: none;
              min-width: auto;
              background-color: rgba(204, 204, 204, 0.5); }
    @media screen and (min-width: 992px) and (max-width: 1199.98px) {
      header .top-header .container .top-nav {
        position: absolute;
        top: 0em;
        right: 4em; } }
    @media screen and (max-width: 767.98px) {
      header .top-header .container .top-nav {
        margin-top: 1em; } }
    header .top-header .container .top-nav ul li a {
      color: #000;
      padding: 0.2em 1.2em;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      position: relative; }
      @media screen and (max-width: 1199.98px) {
        header .top-header .container .top-nav ul li a {
          font-size: 13px; } }
    header .top-header .container .top-nav ul li.active {
      background: #e01885;
      border-radius: 50px; }
      @media screen and (max-width: 991.98px) {
        header .top-header .container .top-nav ul li.active {
          border-radius: 0px; } }
      header .top-header .container .top-nav ul li.active a {
        color: #FFF; }
    header .top-header .container .top-nav ul li:hover {
      background: #e01885;
      border-radius: 50px; }
      @media screen and (max-width: 767.98px) {
        header .top-header .container .top-nav ul li:hover {
          border-radius: 0px; } }
      header .top-header .container .top-nav ul li:hover a {
        color: #FFF; }
    header .top-header .container .top-nav:before {
      content: " ";
      display: table; }
    header .top-header .container .top-nav:after {
      clear: both;
      content: " ";
      display: table; }
    header .top-header .container nav {
      position: relative;
      float: right; }
      @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        header .top-header .container nav {
          width: 100%; } }
      @media screen and (min-width: 992px) and (max-width: 991.98px) {
        header .top-header .container nav {
          float: none; } }
      @media screen and (max-width: 991.98px) {
        header .top-header .container nav {
          height: auto;
          float: none;
          border-bottom: 0;
          float: none; } }
      @media only screen and (max-width: 320.98px) {
        header .top-header .container nav {
          float: none; } }
      header .top-header .container nav ul {
        padding: 0;
        float: right;
        margin: 0.9em 0; }
        @media screen and (min-width: 992px) and (max-width: 991.98px) {
          header .top-header .container nav ul {
            display: inline-block;
            float: none;
            margin: 0 auto; } }
        @media screen and (max-width: 991.98px) {
          header .top-header .container nav ul {
            width: 100%;
            display: block;
            height: auto;
            display: none;
            height: auto;
            margin: 0;
            background: rgba(204, 204, 204, 0.5); } }
        header .top-header .container nav ul li {
          display: inline;
          float: left;
          position: relative; }
          @media screen and (max-width: 991.98px) {
            header .top-header .container nav ul li {
              width: 100%;
              position: relative; } }
          @media only screen and (max-width: 320.98px) {
            header .top-header .container nav ul li {
              display: block;
              float: none;
              width: 100%; } }
          header .top-header .container nav ul li a {
            color: #fff;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            line-height: 40px; }
            header .top-header .container nav ul li a:hover {
              text-decoration: none;
              color: #000; }
      @media screen and (max-width: 991.98px) {
        header .top-header .container nav a {
          text-align: left;
          width: 100%; } }
      header .top-header .container nav a#pull {
        display: none; }
        @media screen and (max-width: 991.98px) {
          header .top-header .container nav a#pull {
            display: block;
            position: relative;
            color: #000;
            text-align: center;
            position: absolute;
            top: -3.5em;
            width: 2em; }
            header .top-header .container nav a#pull:after {
              color: #444444; } }
        @media screen and (max-width: 575.98px) {
          header .top-header .container nav a#pull svg {
            margin-left: 2%; } }
  header .low-header .ct-search {
    padding-top: 15em;
    padding-bottom: 12em; }
    @media screen and (max-width: 991.98px) {
      header .low-header .ct-search {
        padding-top: 10em;
        padding-bottom: 10em; } }
    @media screen and (max-width: 767.98px) {
      header .low-header .ct-search {
        padding-top: 4em;
        padding-bottom: 8em; } }
    @media screen and (max-width: 575.98px) {
      header .low-header .ct-search {
        padding-top: 2em;
        padding-bottom: 5em; } }
    header .low-header .ct-search .ct-search__inner {
      margin: 0 auto;
      width: 45em; }
      @media screen and (max-width: 767.98px) {
        header .low-header .ct-search .ct-search__inner {
          width: 100%; } }
      header .low-header .ct-search .ct-search__inner .search__title {
        color: #FFF;
        font-size: 2.6rem;
        text-shadow: 2px 2px 3px black; }
        @media screen and (max-width: 767.98px) {
          header .low-header .ct-search .ct-search__inner .search__title {
            font-size: 32px;
            text-align: center; } }
        @media screen and (max-width: 575.98px) {
          header .low-header .ct-search .ct-search__inner .search__title {
            font-size: 21px;
            font-weight: 400; } }
      header .low-header .ct-search .ct-search__inner .search__icon {
        background-color: #FFF;
        border-right: 0;
        border-bottom-left-radius: 0;
        height: auto; }
      header .low-header .ct-search .ct-search__inner .search__input {
        border-left: 0;
        font-size: 1.1em;
        height: auto;
        padding: .4em 1.2em .5em 1.2em; }
        header .low-header .ct-search .ct-search__inner .search__input:focus {
          border-top: 1px solid #ced4da;
          border-right: 1px solid #ced4da;
          border-bottom: 1px solid #ced4da;
          border-bottom-right-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          outline: none; }
        header .low-header .ct-search .ct-search__inner .search__input::-webkit-input-placeholder {
          color: #e01885; }
        header .low-header .ct-search .ct-search__inner .search__input:-ms-input-placeholder {
          color: #e01885; }
        header .low-header .ct-search .ct-search__inner .search__input::-ms-input-placeholder {
          color: #e01885; }
        header .low-header .ct-search .ct-search__inner .search__input::placeholder {
          color: #e01885; }
        header .low-header .ct-search .ct-search__inner .search__input:-ms-input-placeholder {
          color: #e01885; }
        header .low-header .ct-search .ct-search__inner .search__input::-ms-input-placeholder {
          color: #e01885; }
      header .low-header .ct-search .ct-search__inner .search__dropdown {
        background: #FFF;
        border: 1px solid #ced4da;
        border-top: 0;
        padding: 1em 2em .5em 2em;
        position: absolute;
        top: 2.74rem;
        width: 100%;
        z-index: 1; }
        header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__title h5 {
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase; }
        header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul {
          list-style: none;
          padding-left: 0; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul li {
            display: inline-block;
            padding: .5em 1em; }
            @media screen and (max-width: 767.98px) {
              header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul li {
                margin: .2em 0; } }
            header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul li a {
              color: #FFF;
              cursor: pointer;
              font-size: 1.1rem;
              font-weight: 500;
              text-decoration: none; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-wine li:nth-child(1) {
            background-color: #e01885; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-wine li:nth-child(2) {
            background-color: #fb2e3c; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-wine li:nth-child(3) {
            background-color: #661e75; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-wine li:nth-child(4) {
            background-color: #980073; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-wine li:nth-child(5) {
            background-color: #6ed4e0; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-exp li:nth-child(1) {
            background-color: #ffa100; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-exp li:nth-child(2) {
            background-color: #fb2e3c; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-exp li:nth-child(3) {
            background-color: #00aa85; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-exp li:nth-child(4) {
            background-color: #6ed4e0; }
          header .low-header .ct-search .ct-search__inner .search__dropdown .search__dropdown__box .search__dropdown__box__list-wine ul.list-exp li:nth-child(5) {
            background-color: #0091b5; }
  header .low-header .ct-btn-producers .btn-producers {
    background-color: #ffa100;
    color: #FFF;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1.5em 2em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (max-width: 767.98px) {
      header .low-header .ct-btn-producers .btn-producers {
        font-size: 18px; } }
    @media screen and (max-width: 575.98px) {
      header .low-header .ct-btn-producers .btn-producers {
        font-size: 12px; } }
    header .low-header .ct-btn-producers .btn-producers svg {
      font-size: 1.5em;
      margin-left: 2rem;
      vertical-align: middle; }
