body, html {
  font-family: $main-font;
  background: $gray-back;
}
html, body, h1, p, a, img, a img, button, input, label, label::before, label::after, 
div *:not(.slick-track):not(.slick-list):not(polyline):not(.grid-item):not(.change-user-text):not(.isotope):not(.isotope-item):not(.inner-box) {
  @include transition(all .1s ease);
  &:hover {
    @include transition(all .1s ease);
  }
}
svg, i {
  @include transition(all .05s ease);
  &:hover {
    @include transition(all .05s ease);
  }
}

h2 {
  @include font-size(40, $base: 16);
  font-weight: 500;
  &.page-title {
	  @include font-size(30, $base: 16);
	  font-weight: 700;
	  text-transform: uppercase;
	  color: $gray2;
	  letter-spacing: 1px;
  }
  &.header-title {
	  @include font-size(50, $base: 16);
	  font-weight: 100;
  }
}
h3 {
  @include font-size(25, $base: 16);
  color: $gray2;
  font-weight: 600;
  @media (max-width: 575.98px) {
	@include font-size(23, $base: 16);
  }
  &.subtitle {
	  font-size: 30 !important;
	  font-weight: 500;
  }
  &.main-text {
	  @include font-size(50, $base: 16);
	  color: $red-back;
  }
}

ul {
  list-style-type: none;
}
a:focus, input:focus, select:focus, textarea:focus, button:focus,
a:hover, input:hover, select:hover, textarea:hover, button:hover, .select2-container--focus {
  outline: none !important;
  outline: 0 !important;
  outline-color: transparent !important;
  box-shadow: none !important;
}
div:focus
div:hover {
  outline: none !important;
  outline: 0 !important;
  outline-color: transparent !important;
}
::-webkit-input-placeholder {
  color: $gray7 !important;
  font-weight: 100;
}
::-moz-placeholder { 
  color: $gray7 !important;
  font-weight: 100;
}
:-ms-input-placeholder {
  color: $gray7 !important;
  font-weight: 100;
}
:-moz-placeholder {
  color: $gray7 !important;
  font-weight: 100;
}

.container-fluid {
  max-width: 1500px;
}
.btn {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  &--base {
    color: $white;
    border-radius: .5rem;
    font-weight: 600;
    margin: 0 auto;
    padding: .7em 0;
    @include font-size(20, $base: 16);
    &:hover {
      background: $gray2;
      color: $white;
    }
  }
  &--gray {
    background: $gray2;
    color: $white;
    &.btn--min {
      padding: .5em 1em !important;
    }
  }
  &--red {
    background: $red-back;
    color: $white;
    &.btn--min {
      padding: .5em 1em;
    }
  }
  &--darkred {
    background: $red3;
    color: $white;
    &.btn--min {
      padding: .5em 1em;
    }
  }
  &--download {
	  padding: 15px 25px;
	  border-radius: 0;
	  background: $gray9;
	  text-decoration: uppercase;
	  @include font-size(18, $base: 14);
	  font-weight: 100;
	  color: $gray2;
	  &:hover {
		  color: $white;
		  background: $gray2;
	  }
  }
  &--facebook {
	  background: $blue;
	  color: $white;
	  border-radius: 8px;
	  &:hover {
		  background: $gray2;
		  color: $white;
	  }
  }
  &--twitter {
	  background: $light-blue;
	  color: $white;
	  border-radius: 8px;
	  &:hover {
		  background: $gray2;
		  color: $white;
	  }
  }
  &--outline {
    border: 2px solid $white;
    background: transparent;
    color: $white;
    border-radius: 2rem;
    text-transform: none;
    padding: .7em 0;
    &--min {
      @include font-size(14, $base: 14);
      font-weight: 700;
    }
    &:hover {
      background: $white;
      color: $black;
    }
  }
}
@media (min-width: 768px) {
	.slick-slider {
		height: 100%;
		.slick-list {
			height: 100%;
			.slick-track {
				height: 100%;
				.slick-slide {
					height: 100%;
					> div {
						height: 100% !important;
						.item-img {
							height: 100% !important;
						}
					}
				}
			}
		}
	}
}
.rec {
  border-radius: 10px;
  overflow: hidden;
  &--white {
    background: $white;
  }
  &--red {
	background: $red2;
  }
  &--gray {
	  background: $gray9;
  }
}
.text-red {
	color: $red-back !important;
}
.border-separation {
  border-bottom: 1px solid $gray7;
}
.bg-white {
	background: $white;
}
.bg-red {
	background: $red-back;
}
.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.relative-pos {
  position: relative;
}
.absolute-pos {
  position: absolute;
}
.uppercase {
  text-transform: uppercase;
}
.no-float {
  margin: 0 auto !important;
  float: none !important;
}
.no-border {
  border: none !important;
}
.no-upper {
  text-transform: none;
}
.clear {
  width: 100%;
}


