$white: #fff;
$black: #000;
$red-back: #ff4545;
$red: #f93e3e;
$red2: #e63232;
$red3: #c72525;
$gray-back: #eee;
$gray2: #282828;
$gray3: #999;
$gray4: #666;
$gray5: #555;
$gray6: #f4f4f4;
$gray7: #8a8a8a;
$gray8: #e5e5e5;
$gray9: #eee;
$back-gray: #fafafa;
$blue: #00487f;
$light-blue: #33a3dd;

