footer {
  &#footer {
    background: $red-back;
    color: $white;
    font-weight: 500;
    font-family: $alt-font;
    @include font-size(14, $base: 16);
    h4 {
      font-weight: 700;
      text-transform: uppercase;
      @include font-size(14, $base: 16);
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 20px;
        a {
          color: $white;
        }
      }
    }
    .col-md-auto {
	    @media (min-width: 768px) {
			flex: 0 0 20%;
			width: auto;
			max-width: none;
	  	}
    }
    .foot-copyright {
      background: $red;
      @include font-size(14, $base: 16);
      font-weight: 500;
      line-height: 160%;
      @media (max-width: 575.98px) {
		text-align: center;
	  }
      .cont-social {
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          @media (max-width: 575.98px) {
				float: left;
		  }
          li {
            margin: 0 10px;
            @include font-size(22, $base: 16);
            &.foot-designby {
              margin: 0 0 0 20px;
              @include font-size(11, $base: 16);
            }
            a {
              &:hover {
                opacity: .6;
              }
            }
          }
        }
      }
    }
  }
}