header {
  &#header {
    background: $white;
    .navbar {
      padding: 0;
      position: static !important;
      .dropdown {
        position: static;
        >.dropdown-toggle:active {
          pointer-events: none;
        }
        .dropdown-toggle::after {
	        display: none;
        }
        &:hover>.dropdown-menu {
          display: block;
          top: 88px;
          border-top: 5px solid $red-back;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
          background: url('../images/bg-menu.png') repeat left top;
          box-shadow: 0 6px 10px -4px rgba(0,0,0,0.5);
          &:hover {
            box-shadow: 0 6px 12px -6px rgba(0,0,0,0.4);
          }
          @media (max-width: 575.98px) {
		    margin-top: -5px;
	      }
        }
        h4 {
          min-height: 35px;
          @include font-size(14, $base: 16);
          text-transform: uppercase;
        }
        a {
          margin: 0;
        }
      }
      .navbar-brand {
        margin-top: -8px;
        &:hover {
          opacity: .6;
        }
      }
      .navbar-nav {
        width: 100%;
        clear: both;
        li {
          a {
            margin: 0 15px;
            padding: 0 5px;
            @include font-size(14, $base: 16);
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: 5px solid transparent;
            line-height: 300%;
            &:hover, &:active, &focus {
              border-bottom: 5px solid $red-back;
            }
            &.dropdown-item {
              margin: 0;
              padding: 0;
              color: $gray4;
              font-weight: 300;
              text-transform: none;
              border: none;
              line-height: 220%;
              &:hover {
                background: none;
                border: 0;
                color: $red;
              }
              &:last-child {
		        @media (max-width: 575.98px) {
		            margin-bottom: 30px !important;
	          	}
	          }
            }
            @media (max-width: 575.98px) {
	            margin: 0;
	        }
          }
          &.active {
	          a {
		        border-bottom: 5px solid $red-back;
	          }
          }
          &:last-child {
	        a {
		      margin-right: 0;
	        }
          }
        }
      }
      .cont-social {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 100%;
        clear: block;
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          li {
            margin: 0 10px;
            @include font-size(16, $base: 16);
            a {
              color: $gray3;
              &:hover {
                opacity: .6;
              }
            }
            &:last-child {
	            padding-right: 0;
	            margin-right: 0;
            }
          }
        }
      }
      .dropdown-menu {
        width: 100%;
        float: none;
      }
    }
  }
}