main {
  .container {
    @media screen and (max-width: 991.98px) {
      max-width: initial;
    }        
  }
  .container-fluid {
    max-width: 1500px;
  }
  .main-text {
	  p {
		  color: $red-back;
		  @include font-size(48, $base: 16);
		  font-weight: 300;
		  line-height: 120%;
		  @media (max-width: 575.98px) {
			@include font-size(35, $base: 16);
		  }
	  }
  }
  .cont-main-header {
	  height: 650px;
	  .container-fluid {
		  position: relative;
		  height: 100%;
		  .cont-text {
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  color: $white;
			  h2 {
				  @include font-size(50, $base: 16);
				  font-weight: 300;
				  text-transform: uppercase;
				  span {
					  display: block;
					  padding: 2px;
					  background: $red-back;
					  line-height: 120%;
				  }
			  }
			  p {
				  @include font-size(25, $base: 16);
				  font-weight: 300;
				  line-height: 140%;
			  }
		  }
	  }
  }
  .cont-ergotec {
    background: $red-back;
    color: $white;
    overflow: hidden;
    p {
      @include font-size(20, $base: 16);
      font-weight: 300;
    }
    .cont-image {
	    border-radius: 15px 0 0 15px;
    }
    img {
	    border-radius: 15px 0 0 15px;
    }
    .ver-mas {
	    text-transform: uppercase;
	    @include font-size(14, $base: 16);
	    font-weight: 700;
	    a {
		    color: $white;
		    letter-spacing: 1px;
		    svg, i {
			    padding-top: 5px;
			    @include font-size(20, $base: 16);
		    }
	    }
    }
    @media (max-width: 575.98px) {
		.rec-img {
			height: 400px;
		}
	}
  }
  .cont-slider {
	  .sol-slider {
		  margin: 0 -5px;
		  .item-featured {
			  border-right: 5px solid $white;
			  border-left: 5px solid $white;
		  }
		  .inner-box {
			  height: 400px;
		  }
	  }
  }
  .cont-brands {
    background: $white;
    .col-md-auto {
      	@media (min-width: 768px) {
			flex: 0 0 20%;
			width: auto;
			max-width: none;
			text-align: center;
	  	}
	  	@media (max-width: 575.98px) {
			margin-bottom: 30px;
			text-align: center;
		}
      img {
	      max-height: 54px;
	      margin: 0 auto;
	      float: none;
      }
    }
  }
  .proyectos-slider {
	  .item-featured {
		  position: relative;
		  .inner-box {
			height: 465px; 
			border-radius: 10px;
			border-right: 2px solid $white;
			border-left: 2px solid $white;
		  }
		  .cont-item-title {
			  width: 50%;
			  position: absolute;
			  padding: 25px;
			  background: $white;
			  left: 20px;
			  bottom: 20px;
			  border-radius: 15px;
			  @media (max-width: 575.98px) {
				width: 70%;
			  }
			  h3 {
				  a {
					  color: $gray2;
					  &:hover {
						  color: $red-back;
						  text-decoration: none;
					  }
				  }
			  }
			  p {
				  margin: 0;
				  color: $gray3;
			  }
		  }
	  }
	  .slick-track {
		  height: 475px;
		  margin: 0;
	  }
  }
  .featured-slider {
	  margin: 0 -5px;
	  .item-featured {
		position: relative;
		height: 465px;
		overflow: hidden;
		padding: 0 10px;  
		border-right: 5px solid $white;
		border-left: 5px solid $white;
	  }
	  .cont-item-title {
		  width: 50%;
		  position: absolute;
		  padding: 25px;
		  background: $white;
		  left: 20px;
		  bottom: 20px;
		  border-radius: 15px;
		  @media (max-width: 575.98px) {
			width: 70%;
		  }
		  h3 {
			  a {
				  color: $gray2;
				  &:hover {
					  color: $red-back;
					  text-decoration: none;
				  }
			  }
		  }
		  p {
			  margin: 0;
			  color: $gray3;
		  }
	  }
  }
}
