.cont-history {
	color: $gray2;
	overflow: hidden;
	h3 {
		@include font-size(30, $base: 16);
		font-weight: 400;
		text-transform: uppercase;
	}
	p {
		@include font-size(22, $base: 16);
		font-weight: 300;
		line-height: 130%;
	}
	.box-img {
		@media (max-width: 575.98px) {
			height: 400px;
		}
	}
	.images-slider {
		margin: 0;
		.item-img {
			img {
				margin-bottom: -8px;
				float: right;
			}
		}
	}
	.slick-dotted.slick-slider {
		margin: 0;
	}
	.slick-dots {
		bottom: 15px;
		width: 15%;
		right: 0;
		@media (max-width: 575.98px) {
			padding-left: 0px;
			width: 30%;
		}
	    li {
	      position: relative;
	      display: inline-block;
	      width: 20px;
	      height: 20px;
	      margin: 0px;
	      padding: 0;
	      cursor: pointer;
	      button {
	        font-size: 0;
	        line-height: 0;
	        display: block;
	        width: 10px;
	        height: 10px;
	        padding: 0px;
	        cursor: pointer;
	        color: $white;
	        border: 0;
	        outline: none;
	        background: $white;
	        border: 2px solid $white;
	        border-radius: 50%;
	        opacity: .5;
	        &:hover, &:focus {
	          outline: none;
	          opacity: 1;
	          &:before {
	            opacity: 1;
	          }
	        }
	        &:before {
	          font-family: 'slick';
	          font-size: 1px !important;
	          line-height: 10px !important;
	          position: absolute;
	          top: 0;
	          left: 0;
	          width: 10px;
	          height: 10px;
	          content: '' !important;
	          text-align: center;
	          opacity: 1;
	          color: $white;
	          -webkit-font-smoothing: antialiased;
	          -moz-osx-font-smoothing: grayscale;
	        }
	      }
	      &.slick-active {
	        button {
	          background: $white;
	          opacity: 1;
	          &:before {
	            opacity: 1;
	            color: $white;
	          }
	        }
	      }
	    }
    }
}
.cont-cols {
	.col-emp {
		text-align: center;
		h4 {
			text-align: center;
			color: $red-back;
			@include font-size(30, $base: 16);
			font-weight: 300;
		}
		p {
			color: $gray5;
			@include font-size(20, $base: 16);
			font-weight: 300;
			line-height: 130%;
		}
	}
}
.cont-rep {
	.item-rep {
		p {
			color: $gray2;
			@include font-size(20, $base: 16);
			font-weight: 300;
			&.ver-mas {
				margin-bottom: 0;
				text-transform: uppercase;
				text-align: left;
				@include font-size(16, $base: 16);
				font-weight: 700;
				a {
					color: $gray2;
					&:hover {
						color: $red-back;
					}
				}
			}
		}
		.rep-img {
			height: 145px;
			@media (max-width: 575.98px) {
				height: auto;
				margin-bottom: 30px;
			}
			img {
				max-height: 85px;
			}
		}
	}
}
p {
	&.ver-mas {
		margin-bottom: 0;
		text-transform: uppercase;
		text-align: left;
		@include font-size(16, $base: 16);
		font-weight: 700;
		a {
			color: $gray2;
			&:hover {
				color: $red-back;
			}
		}
	}
}
.cont-cotiza {
	p {
		@include font-size(22, $base: 16);
		font-weight: 300;
		color: $white;
		strong {
			font-weight: 500;
		}
	}
	.btn {
		font-weight: 100;
		&:hover {
			color: $white;
			background: $gray4;
		}
	}
}
.box-list {
	margin: 0 -15px;
	.rec {
		height: 500px;
		margin-bottom: 25px;
		overflow: hidden;
		@media (max-width: 575.98px) {
			height: 485px;
		}
	}
	.inner-box {
		height: 320px;
		&.inner-box-lg {
			height: 445px;
			@media (max-width: 575.98px) {
				height: 425px;
			}
		}
		&.inner-full-lg {
			height: 100%;
		}
		&.inner-prod {
			height: 360px;
		}
	}
	.inner-text {
		text-align: left;
		h3 {
			height: 95px;
			text-transform: uppercase;
			@include font-size(25, $base: 16);
			font-weight: 500;
		}
	}
}
.inner-box {
	&.inner-prod {
		height: 360px;
	}
}

.order-by {
	.form-group {
		margin-top: -50px;
	}
	select {
		width: 100%;
		background: transparent;
		border: none;
		text-transform: uppercase;
		&:focus {
			background: transparent;
		}
	}
}
.header-color {
	height: 225px;
	background: $red-back;
	@media (max-width: 575.98px) {
		height: 180px;
	}
	h2 {
		color: $white;
	}
}
.breadcrumbs {
	@include font-size(15, $base: 16);
	font-weight: 300;
	color: $gray5;
	a {
		font-weight: 500;
		color: $gray5;
	}
}
.cont-proyecto {
	h3 {
		@include font-size(40, $base: 16);
		font-weight: 700;
		&.subtitle {
			@include font-size(30, $base: 16);
			font-weight: 500;
		}
		&.main-text {
			@include font-size(50, $base: 16);
			font-weight: 100;
			@media (max-width: 575.98px) {
				@include font-size(35, $base: 16);
			}
		}
	}
	p {
		@include font-size(20, $base: 16);
		font-weight: 300;
		&.large-font {
			@include font-size(28, $base: 16);
			font-weight: 300;
			@media (max-width: 575.98px) {
				@include font-size(24, $base: 16);
			}
		}
	}
	@media (max-width: 575.98px) {
		.rec-img {
			height: 400px;
		}
	}
	.images-slider {
		&.slick-dotted.slick-slider {
		margin: 0 !important;
		.slick-slide {
			> div {
				height: 600px;
				.item-img {
					height: 600px;
				}
			}
		}
	}
	.slick-dots {
		display: inline-block;
		bottom: 15px;
	    left: 0;
	    width: 15%;
	    @media (max-width: 575.98px) {
			width: 30%;
		}
		li {
	      position: relative;
	      display: inline-block;
	      width: 20px;
	      height: 20px;
	      margin: 0px;
	      padding: 0;
	      cursor: pointer;
	      button {
	        font-size: 0;
	        line-height: 0;
	        display: block;
	        width: 10px;
	        height: 10px;
	        padding: 0px;
	        cursor: pointer;
	        color: $white;
	        border: 0;
	        outline: none;
	        background: $white;
	        border: 2px solid $white;
	        border-radius: 50%;
	        opacity: .5;
	        &:hover, &:focus {
	          outline: none;
	          opacity: 1;
	          &:before {
	            opacity: 1;
	          }
	        }
	        &:before {
	          font-family: 'slick';
	          font-size: 1px !important;
	          line-height: 10px !important;
	          position: absolute;
	          top: 0;
	          left: 0;
	          width: 10px;
	          height: 10px;
	          content: '' !important;
	          text-align: center;
	          opacity: 1;
	          color: $white;
	          -webkit-font-smoothing: antialiased;
	          -moz-osx-font-smoothing: grayscale;
	        }
	      }
	      &.slick-active {
	        button {
	          background: $white;
	          opacity: 1;
	          &:before {
	            opacity: 1;
	            color: $white;
	          }
	        }
	      }
	    }
    	}
	}
}
.cont-header {
	position: relative;
	height: 400px;
	.gradiente {
		height: 100%;
		width: 100%;
		color: $white;
		background: url('../images/gradiente.png') repeat left top;
		h1 {
			font-weight: 100 !important;
		}
	}
}
.cont-main {
	margin-top: 150px;
	.title {
		@include font-size(90, $base: 16);
		font-weight: 800;
		color: $red-back;
		text-transform: uppercase;
		line-height: 100%;
		@media (max-width: 575.98px) {
			margin-bottom: 35px;
			@include font-size(55, $base: 16);
		}
	}
}
.cont-table {
	table {
		width: 100%;
		border: 1px solid $gray8;
		border-radius: 10px;
		thead {
			tr {
				background: $gray9;
				text-transform: uppercase;
				th {
					padding: 8px 40px;
				}
			}
			border: 1px solid $gray8;
		}
		tbody {
			border-left: 1px solid $gray8;
			border-right: 1px solid $gray8;
			border-bottom: 1px solid $gray8;
			tr {
				background: $gray9;
				text-transform: uppercase;
				th {
					padding: 8px 20px;
				}
			}
			border: 1px solid $gray8;
			td {
				padding: 8px 40px;
				color: $gray2;
				background: $white;
				@media (max-width: 575.98px) {
					padding: 8px 20px;
					text-transform: none;
				}
			}
		}
	}
}
.cont-ergonomia {
	h2 {
		@include font-size(48, $base: 16);
		color: $red-back;
		font-weight: 300;
	}
	p {
		color: $gray5;
		@include font-size(28, $base: 16);
		font-weight: 300;
		line-height: 130%;
	}
}
.prod-slider {
	.col-prod {
		height: 360px;
		padding: 0 10px;
		.rec {
			height: 360px;
		}
	}
	.left-arrow {
		position: absolute;
		right: 45px;
		bottom: -25px;
		cursor: pointer;
	}
	.right-arrow {
		position: absolute;
		right: 15px;
		bottom: -25px;
		cursor: pointer;
	}
}
.sol-slider, .featured-slider, .proyectos-slider {
	.left-arrow {
		position: absolute;
		right: 55px;
		top: -45px;
		cursor: pointer;
	}
	.right-arrow {
		position: absolute;
		right: 25px;
		top: -45px;
		cursor: pointer;
	}
	.slick-list {
		overflow: hidden;
		border-radius: 10px;
		margin: 0 5px;
	}
	.slick-dotted.slick-slider {
		margin: 0;
	}
	.slick-dots {
		bottom: -35px;
	    li {
	      position: relative;
	      display: inline-block;
	      width: 20px;
	      height: 20px;
	      margin: 0px;
	      padding: 0;
	      cursor: pointer;
	      button {
	        font-size: 0;
	        line-height: 0;
	        display: block;
	        width: 10px;
	        height: 10px;
	        padding: 0px;
	        cursor: pointer;
	        color: #d2d2d2;
	        border: 0;
	        outline: none;
	        background: #d2d2d2;
	        border: 2px solid #d2d2d2;
	        border-radius: 50%;
	        opacity: .5;
	        &:hover, &:focus {
	          outline: none;
	          opacity: 1;
	          &:before {
	            opacity: 1;
	          }
	        }
	        &:before {
	          font-family: 'slick';
	          font-size: 1px !important;
	          line-height: 10px !important;
	          position: absolute;
	          top: 0;
	          left: 0;
	          width: 10px;
	          height: 10px;
	          content: '' !important;
	          text-align: center;
	          opacity: 1;
	          color: $white;
	          -webkit-font-smoothing: antialiased;
	          -moz-osx-font-smoothing: grayscale;
	        }
	      }
	      &.slick-active {
	        button {
	          background: #7a7a7a;
	          opacity: 1;
	          border: 2px solid #7a7a7a;
	          &:before {
	            opacity: 1;
	            color: #7a7a7a;
	          }
	        }
	      }
	    }
    }
}
.cont-featured {
	.featured-slider {
		.slick-list {
			overflow: hidden;
			border-radius: 10px;
			margin: 0 5px;
		}
		.slick-dotted.slick-slider {
			margin: 0;
		}
		.slick-dots {
			bottom: -35px;
		    li {
		      position: relative;
		      display: inline-block;
		      width: 20px;
		      height: 20px;
		      margin: 0px;
		      padding: 0;
		      cursor: pointer;
		      button {
		        font-size: 0;
		        line-height: 0;
		        display: block;
		        width: 10px;
		        height: 10px;
		        padding: 0px;
		        cursor: pointer;
		        color: #d2d2d2;
		        border: 0;
		        outline: none;
		        background: #d2d2d2;
		        border: 2px solid #d2d2d2;
		        border-radius: 50%;
		        opacity: .5;
		        &:hover, &:focus {
		          outline: none;
		          opacity: 1;
		          &:before {
		            opacity: 1;
		          }
		        }
		        &:before {
		          font-family: 'slick';
		          font-size: 1px !important;
		          line-height: 10px !important;
		          position: absolute;
		          top: 0;
		          left: 0;
		          width: 10px;
		          height: 10px;
		          content: '' !important;
		          text-align: center;
		          opacity: 1;
		          color: $white;
		          -webkit-font-smoothing: antialiased;
		          -moz-osx-font-smoothing: grayscale;
		        }
		      }
		      &.slick-active {
		        button {
		          background: #7a7a7a;
		          opacity: 1;
		          border: 2px solid #7a7a7a;
		          &:before {
		            opacity: 1;
		            color: #7a7a7a;
		          }
		        }
		      }
		    }
	    }
	}
}
.entry-img {
	width: 100%;
	height: 480px;
	border-radius: 50%;
	background: $red-back;
	overflow: hidden;
	@media (max-width: 575.98px) {
		margin-bottom: 40px;
		height: 300px;
	}
}
.share {
	@include font-size(20, $base: 16);
	font-weight: 100;
	.no-float {
		border-top: 1px solid $gray8;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline;
			}
		}
	}
}
.cont-form {
	margin-top: -50px;
	.rec {
		height: 600px;
	}
	.form-group {
		position: relative;
		input, textarea {
			padding: 10px;
			background: $gray6;
			border: none;
			color: $gray7;
			@include font-size(20, $base: 16);
			font-weight: 100;
			height: auto;
		}
		input {
			padding-left: 0;
		}
		textarea {
			padding-left: 42px;
		}
		.input-group-text {
			width: 45px;
			background: $gray6;
			border: none;
			color: $red-back;
			svg, i {
				font-size: 18px;
			}
		}
		&.form-textarea {
			position: relative;
			svg, i {
				position: absolute;
				top: 15px;
				left: 12px;
				color: $red-back;
			}
		}
	}
	.form-check {
		@include font-size(14, $base: 16);
		color: $gray7;
		font-weight: 300;
	}
	button {
		margin: 0 auto;
		font-weight: 300 !important;
		&:hover {
			background: $gray4;
			color: $white;
		}
	}
	.checkbox label {
		@include font-size(14, $base: 16);
		color: $gray7;
		font-weight: 300;
	}
	.checkbox label:after, 
	.radio label:after {
	    content: '';
	    display: table;
	    clear: both;
	}
	.checkbox .cr,
	.radio .cr {
	    position: relative;
	    display: inline-block;
	    border: 1px solid $gray7;
	    border-radius: .25em;
	    width: 1em;
	    height: 1em;
	    float: left;
	    margin-top: 3px;
	    margin-right: .5em;
	}
	.radio .cr {
	    border-radius: 50%;
	}
	.checkbox .cr .cr-icon,
	.radio .cr .cr-icon {
	    position: absolute;
	    font-size: .8em;
	    line-height: 0;
	    left: 20%;
	    top: 4px;
	    color: $white;
	}
	.radio .cr .cr-icon {
	    margin-left: 0.04em;
	}
	.checkbox label input[type="checkbox"],
	.radio label input[type="radio"] {
	    display: none;
	}
	.checkbox label input[type="checkbox"] + .cr > .cr-icon,
	.radio label input[type="radio"] + .cr > .cr-icon {
	    transform: scale(3) rotateZ(-20deg);
	    opacity: 0;
	    transition: all .3s ease-in;
	}
	.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
	.radio label input[type="radio"]:checked + .cr > .cr-icon {
	    transform: scale(1) rotateZ(0deg);
	    opacity: 1;
	    top: 1px;
	    left: 1px;
	}
	.checkbox label input[type="checkbox"]:checked + .cr,
	.radio label input[type="radio"]:checked + .cr {
	    transform: scale(1) rotateZ(0deg);
	    opacity: 1;
	    background: $red-back;
	    top: 0px;
	    width: 1em;
	    height: 1em;
	    left: 0px;
	    border: 1px solid $red-back;
	}
	.checkbox label input[type="checkbox"]:disabled + .cr,
	.radio label input[type="radio"]:disabled + .cr {
	    opacity: .5;
	}
}
.dropdown-content {
	position: relative;
}
.cont-categories {
	.item-cat {
		margin-bottom: 25px;
		.inner-box {
			&.inner-cat {
				height: 375px;
				position: relative;
				display: block;
				img {
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
				}
			}
		}
		.cont-inner-text {
			p {
				margin-bottom: 0;
			}
		}
	}
}
.cont-dropdown {
	background: $back-gray;
	.dropdown {
        position: static;
        >.dropdown-toggle:active {
          pointer-events: none;
        }
        .dropdown-toggle::after {
	        display: none;
        }
        &:hover>.dropdown-menu {
          display: block;
          top: 88px;
          border-top: 5px solid $red-back;
          border-radius: 0;
          box-shadow: none;
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
          background: url('../images/bg-menu.png') repeat left top;
          box-shadow: 0 6px 10px -4px rgba(0,0,0,0.5);
          &:hover {
            box-shadow: 0 6px 12px -6px rgba(0,0,0,0.4);
          }
        }
        h4 {
          min-height: 35px;
          @include font-size(14, $base: 16);
          text-transform: uppercase;
          a {
	          color: $gray4;
	          &:hover {
		          color: $red-back;
		          border: none;
		          text-decoration: none;
	          }
          }
        }
        a {
          margin: 0;
          @include font-size(14, $base: 16);
          &:hover, &:active, &focus {
            border-bottom: 5px solid $red-back;
          }
          &.dropdown-item {
            margin: 0;
            padding: 0;
            color: $gray4;
            font-weight: 300;
            text-transform: none;
            border: none;
            line-height: 220%;
            &:hover {
              background: none;
              border: 0;
              color: $red;
            }
            &:last-child {
		      @media (max-width: 575.98px) {
		        margin-bottom: 30px !important;
	          }
	        }
          }
          @media (max-width: 575.98px) {
	        margin: 0;
	      }
        }
    }
}
.pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  a {
    margin: 0 8px;
    width: 48px;
    height: 48px;
    font-size: 18;
    font-size: 1.125rem;
    background: $white;
    border-radius: 50%;
    border: none;
    line-height: 48px;
    color: $gray5;
    @media (max-width: 575.98px) {
		width: 38px;
		height: 38px;
		line-height: 38px;
	}
	&.active {
		color: $white;
		background: $red-back;
	}
	&:hover {
		color: $white;
		background: $red-back;
		text-decoration: none;
	}
  }
}
.cont-ergo-header {
	.cont-title {
		color: $white;
		@include font-size(48, $base: 16);
		font-weight: 300;
		line-height: 120%;	
		@media (max-width: 575.98px) {
			@include font-size(35, $base: 16);
		}
	}
	.cont-ergo-text {
		position: absolute;
		top: 0;
		right: 0;
		@include font-size(22, $base: 16);
		color: $gray2;
		font-weight: 300;
		box-shadow: 0 6px 10px -4px rgba(0,0,0,0.3);
		@media (max-width: 575.98px) {
			position: relative;
			margin-top: 30px;
			margin-bottom: -170px;
		}
	}
}
p {
	&.ver-mas {
		display: block;
		text-transform: uppercase;
		text-align: left;
		@include font-size(16, $base: 16);
		font-weight: 700;
		a {
			color: $gray2;
			&:hover {
				color: $red-back;
			}
		}
	}	
}

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
